---
title: Supported Tags
meta_description: About the tags Omnibug supports
layout: layouts/main.njk
eleventyNavigation:
    key: help.tags
    title: Supported Tags
    parent: help
---
{%  include "partials/page-header.njk" %}
<section class="text-slate-700 body-font">
    <div class="container px-5 mx-auto">

        <p class="pb-6">Below is a list of vendors and tags that Omnibug currently supports.</p>

        <table class="w-full text-sm text-left text-slate-500 dark:text-slate-400 border mb-6 table-fixed">
            <thead class="text-xs text-slate-700 uppercase bg-slate-200 dark:bg-slate-700 dark:text-slate-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-96">Tag Name</th>
                    <th scope="col" class="px-6 py-3">Category</th>
                </tr>
            </thead>
            <tbody>
            {%  for tag in tags %}
                {% if loop.index % 2 === 0 %}
                    <tr class="border-b bg-white dark:bg-slate-900 dark:border-slate-700 hover:bg-slate-50 dark:hover:bg-slate-600">
                {% else %}
                    <tr class="border-b bg-slate-50 dark:bg-slate-800 dark:border-slate-700 hover:bg-slate-100 dark:hover:bg-slate-500">
                {% endif %}
                    <th scope="row" class="px-6 py-4 font-medium text-slate-900 whitespace-nowrap dark:text-white">
                        {% if tag.url %}
                            <a href="{{tag.url }}" rel="nofollow" class="flex flex-row items-center" target="_blank">
                                <img src="/assets/images/logos/tags/{{ tag.image | upper }}16x16.png" class="w-[16px]" alt="" role="presentation">
                                <span class="pl-4">{{ tag.name }}</span>
                            </a>
                        {% else %}
                            <div class="flex flex-row items-center">
                                <img src="/assets/images/logos/tags/{{ tag.image | upper }}16x16.png" class="w-[16px] pr-6" alt="" role="presentation">
                                <span class="pl-4">{{ tag.name }}</span>
                            </div>
                        {% endif %}
                    </th>
                    <td class="px-6 py-4">
                        {{ tag.type }}
                    </td>
                </tr>
            {%  endfor  %}
            </tbody>
        </table>
    </div>
    <div class="container mx-auto py-5 pb-20 px-6 md:px-4">
        <div class="text-center px-4 py-5 text-slate-900">
            <h2 class="sm:text-3xl text-2xl font-medium title-font mb-2 mx-auto">Don't see your tag?</h2>
            <p class="leading-relaxed text-base">Let us know what tags or vendors you want us to support!</p>
            <p class="leading-relaxed text-base my-4">
                <a class="mx-auto text-white btn btn-blue" href="https://github.com/MisterPhilip/omnibug/issues/new/choose" rel="nofollow">Send Feedback</a>
            </p>
        </div>
    </div>
</section>
