---
title: Terms of Service
layout: layouts/main.njk
eleventyNavigation:
    key: terms-of-service
    title: Terms of Service
    parent: legal
---
{%  include "partials/page-header.njk" %}
<section class="text-slate-700 body-font">
    <div class="container mx-auto pb-5 px-6 md:px-4 leading-relaxed">
        <h3 class="text-xl my-2 font-bold">1. Terms</h3>
        <p class="mb-4">
            By accessing the website at <a href="https://omnibug.io/">https://omnibug.io/</a> or using one of the Omnibug Extensions,
            you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree
            that you are responsible for compliance with any applicable local laws. If you do not agree with any of these
            terms, you are prohibited from using or accessing this site. The materials contained in this website are
            protected by applicable copyright and trademark law.
        </p>
        <h3 class="text-xl my-2 font-bold">2. Use License</h3>
        <p class="mb-4">Omnibug is licensed under the <a href="https://github.com/MisterPhilip/omnibug/blob/master/LICENSE">MIT License</a>.</p>
        <h3 class="text-xl my-2 font-bold">3. Disclaimer</h3>
        <ol class="list-decimal pl-8 mb-4">
            <li>
                The materials on Omnibug's website are provided on an 'as is' basis. Omnibug makes no warranties,
                expressed or implied, and hereby disclaims and negates all other warranties including, without
                limitation, implied warranties or conditions of merchantability, fitness for a particular purpose,
                or non-infringement of intellectual property or other violation of rights.
            </li>
            <li>
                Further, Omnibug does not warrant or make any representations concerning the accuracy, likely results,
                or reliability of the use of the materials on its website or otherwise relating to such materials
                or on any sites linked to this site.
            </li>
        </ol>
        <h3 class="text-xl my-2 font-bold">4. Limitations</h3>
        <p class="mb-4">
            In no event shall Omnibug or its suppliers be liable for any damages (including, without limitation,
            damages for loss of data or profit, or due to business interruption) arising out of the use or inability
            to use the materials on Omnibug's website or browser extension, even if Omnibug or a Omnibug authorized
            representative has been notified orally or in writing of the possibility of such damage. Because some
            jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential
            or incidental damages, these limitations may not apply to you.
        </p>
        <h3 class="text-xl my-2 font-bold">5. Accuracy of materials</h3>
        <p class="mb-4">
            The materials appearing on Omnibug's website and browser extension could include technical, typographical,
            or photographic errors. Omnibug does not warrant that any of the materials on its website and browser extension
            are accurate, complete or current. Omnibug may make changes to the materials contained on its website
            and browser extension at any time without notice. However Omnibug does not make any commitment to update the materials.
        </p>
        <h3 class="text-xl my-2 font-bold">6. Links</h3>
        <p class="mb-4">
            Omnibug has not reviewed all of the sites linked to its website and browser extension, and is not responsible
            for the contents of any such linked site. The inclusion of any link does not imply endorsement by Omnibug
            of the site. Use of any such linked website is at the user's own risk.
        </p>
        <h3 class="text-xl my-2 font-bold">7. Modifications</h3>
        <p class="mb-4">
            Omnibug may revise these terms of service for its website and browser extension at any time without notice.
            By using this website or browser extension, you are agreeing to be bound by the then current version of
            these terms of service.
        </p>
        <h3 class="text-xl my-2 font-bold">8. Governing Law</h3>
        <p class="mb-4">
            These terms and conditions are governed by and construed in accordance with the laws of United States
            and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
        </p>
    </div>
</section>
