<header>
    <div class="container mx-auto py-5 px-6 md:px-4">
        {%  include "partials/breadcrumbs.njk" %}
        <h1 class="text-3xl md:text-4xl font-medium leading-snug">{{  title }}</h1>
    </div>
</header>
