---
title: Page Not Found
layout: layouts/main.njk
eleventyExcludeFromCollections: true
permalink: 404.html
---
<section class="text-center py-6">
    <h1>Page Not Found</h1>
    <p>Would you like to go back to the <a href="/">homepage</a>?</p>

    <figure class="p-4 mx-auto max-w-lg md:w-full" aria-hidden="true">
        <img src="/assets/images/cancel.svg" alt="404 Error">
    </figure>
</section>
<script>
    try {
        gtag("event", "404", {
            "event_category": "error",
        });
    } catch(e) {
        console.error(e.message);
    }
</script>
