---
title: About
meta_description: \@TODO
layout: layouts/main.njk
eleventyNavigation:
    key: about
    title: About
---
{%  include "partials/page-header.njk" %}
<section class="text-gray-700 body-font">
    <div class="container px-5 pb-5 mx-auto">
        <p class="mb-10">
            Omnibug is an extension for Firefox and most Chromium-based browsers to ease implementing and debugging digital marketing tools.
            It is currently maintained by <a href="https://misterphilip.com/" class="text-blue-500">Philip Lawrence</a>, with help from members of the analytics community.
            Omnibug is 100% free and is <a href="https://github.com/MisterPhilip/omnibug" rel="nofollow" class="text-blue-500">open-source</a>.
        </p>
        <section class="timeline pb-4">
            <header>
                <h2 class="text-center text-3xl pt-2 pb-8 block">Omnibug's History</h2>
            </header>
            <article>
                <section>
                    <div>
                        <time datetime="July 01, 2008">July<br>2008</time>
                    </div>
                </section>
                <main>
                    <div>
                        <header class="mb-2">
                            <h3 class="text-lg font-medium">Omnibug Released</h3>
                        </header>
                        <p class="leading-relaxed text-gray-700">
                            Omnibug was released in July 2008 by Ross Simpson for Firefox.
                            Omnibug was built as an extension to the then-widely popular Firefox add-on Firebug, as the Firefox developer tools did not exist at the time.
                            It was originally built to debug Omniture SiteCatalyst, now Adobe Analytics, network calls.
                            The name originates from these tools, "<em class="not-italic font-medium underline">Omni</em>ture SiteCatalyst" and "Fire<em class="not-italic font-medium underline">bug</em>".
                        </p>
                    </div>
                </main>
            </article>
            <article>
                <section>
                    <div>
                        <time>May<br>2014</time>
                    </div>
                </section>
                <main>
                    <div>
                        <header class="mb-2">
                            <h3 class="text-lg font-medium">New developments</h3>
                        </header>
                        <p class="leading-relaxed text-gray-700">
                            The first closed beta of Omnibug for Chrome was launched!
                        </p>
                    </div>
                </main>
            </article>
            <article>
                <section>
                    <div>
                        <time>June<br>2014</time>
                    </div>
                </section>
                <main>
                    <div>
                        <header class="mb-2">
                            <h3 class="text-lg font-medium">Omnibug Meets Chrome</h3>
                        </header>
                        <p class="leading-relaxed text-gray-700">
                            Omnibug was released in the Chrome Web Store, making Chrome the second browser to support the extension.
                        </p>
                    </div>
                </main>
            </article>
            <article>
                <section>
                    <div>
                        <time>October<br>2017</time>
                    </div>
                </section>
                <main>
                    <div>
                        <header class="mb-2">
                            <h3 class="text-lg font-medium">Transferred Ownership</h3>
                        </header>
                        <p class="leading-relaxed text-gray-700">
                            Omnibug changed hands, transferring ownership of the project to Philip Lawrence, a frequent Omnibug contributor.
                        </p>
                    </div>
                </main>
            </article>
            <article>
                <section>
                    <div>
                        <time>June<br>2018</time>
                    </div>
                </section>
                <main>
                    <div>
                        <header class="mb-2">
                            <h3 class="text-lg font-medium">Omnibug v1.0</h3>
                        </header>
                        <p class="leading-relaxed text-gray-700">
                            The largest update to Omnibug, v1.0, was released. This update included a unified codebase, an all-new UI, more providers, and new features such as filtering and exporting data.
                        </p>
                    </div>
                </main>
            </article>
            <article>
                <section>
                    <div>
                        <time>April<br>2019</time>
                    </div>
                </section>
                <main>
                    <div>
                        <header class="mb-2">
                            <h3 class="text-lg font-medium">New Milestone: 50k Active Installs</h3>
                        </header>
                        <p class="leading-relaxed text-gray-700">
                            Omnibug hit over 50,000 active installations on Chrome and Firefox.
                        </p>
                    </div>
                </main>
            </article>
            <article>
                <section>
                    <div>
                        <time>March<br>2020</time>
                    </div>
                </section>
                <main>
                    <div>
                        <header class="mb-2">
                            <h3 class="text-lg font-medium">Omnibug Released for Edge</h3>
                        </header>
                        <p class="leading-relaxed text-gray-700">
                            Microsoft's Edge browser switches from a proprietary codebase to using Chromium. Omnibug
                            is now available on the Microsoft Add-On Store.
                        </p>
                    </div>
                </main>
            </article>
        </section>
    </div>
</section>
