---
title: Help
meta_description: Get help with using Omnibug
layout: layouts/main.njk
eleventyNavigation:
    key: help
    title: Help
---
{%  include "partials/page-header.njk" %}
<section class="text-slate-700 body-font">
    <div class="container px-5 mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <section class="p-5 border-b md:rounded md:border border-slate-300 pb-8 md:pb-5 bg-white">
                <header class="mb-6 md:mb-4">
                    <h2 class="font-medium text-2xl">Using Omnibug</h2>
                </header>
                <ul class="list-none pl-0">
                    <li class="mb-4 md:mb-2"><a href="./omnibug-usage-chrome/">How to Use Omnibug for Chrome</a></li>
                    <li class="mb-4 md:mb-2"><a href="./omnibug-usage-firefox/">How to Use Omnibug for Firefox</a></li>
                    <li class="mb-4 md:mb-2"><a href="./omnibug-usage-edge/">How to Use Omnibug for Edge</a></li>
                    <li class="mb-4 md:mb-2"><a href="./no-requests-found/">Why am I Seeing "No requests found" in Omnibug?</a></li>
                    <li class="mb-4 md:mb-2"><a href="./redirected-requests/">What are Redirected Requests in Omnibug?</a></li>
                    <li><a href="./settings/">What settings are available in Omnibug?</a></li>
                </ul>
            </section>
            <section class="p-5 md:rounded md:border border-slate-300 bg-white">
                <header class="mb-4">
                    <h2 class="font-medium text-2xl">About Omnibug</h2>
                </header>
                <ul class="list-none pl-0">
                    <li class="mb-4 md:mb-2"><a href="./changelog/">Omnibug's Changelog</a></li>
                    <li class="mb-4 md:mb-2"><a href="./permission-requirements/">What permissions are required to install Omnibug and why?</a></li>
                    <li class="mb-4 md:mb-2"><a href="./supported-browsers/">What browsers does Omnibug support?</a></li>
                    <li><a href="./supported-tags/">What tags/vendors does Omnibug support?</a></li>
                </ul>
            </section>
            <section class="p-5 md:rounded md:border border-slate-300 bg-white">
                <header class="mb-4">
                    <h2 class="font-medium text-2xl">Troubleshooting</h2>
                </header>
                <ul class="list-none pl-0">
                    <li class="mb-4 md:mb-2"><a href="./omnibug-does-not-show/">Omnibug doesn't show up in the Developer Tools</a></li>
                    <li><a href="./omnibug-missing-data/">Omnibug does not show all data points</a></li>
                </ul>
            </section>
        </div>
    </div>
</section>
<section>
    <div class="container mx-auto py-5 pb-20 px-6 md:px-4">
        <div class="text-center px-4 py-5 text-slate-900">
            <h2 class="sm:text-3xl text-2xl font-medium title-font mb-2 mx-auto">Still need help?</h2>
            <p class="leading-relaxed text-base">Let us know what questions, comments, or concerns you have!</p>
            <p class="leading-relaxed text-base my-4">
                <a class="mx-auto text-white btn btn-blue" href="https://github.com/MisterPhilip/omnibug/issues/new/choose" rel="nofollow">Send Feedback</a>
            </p>
        </div>
    </div>
</section>
