---
title: Install
meta_description: \@TODO
layout: layouts/main.njk
---
<section class="py-5">
    <div class="container mx-auto py-5 px-6 md:px-4">
        <h1 class="text-3xl md:text-5xl max-w-screen-md mx-auto text-center">Install Omnibug</h1>
        <p class="text-xl mx-auto md:text-2xl p-6 md:px-0 text-center md:w-2/3 text-gray-700">Omnibug can be installed for most of the popular web browsers. Check below to see how to install it for your favorite browser!</p>
    </div>
</section>
<section class="text-gray-700 body-font">
    <div class="container px-5 py-5 pb-20 mx-auto">
        <div class="flex items-center mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-blue-500 flex-shrink-0">
                <img src="/assets/images/logos/browsers/chrome.svg" class="sm:w-16 sm:h-16 w-10 h-10" alt="" role="presentation">
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Chrome</h2>
                <p class="leading-relaxed text-base">Omnibug can be installed for the world's most popular browser, Chrome, by visiting the Google Web Store.</p>
                <a class="mt-3 text-blue-500 inline-flex items-center" href="https://chrome.google.com/webstore/detail/omnibug/bknpehncffejahipecakbfkomebjmokl?hl=en" rel="nofollow">Install for Chrome
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex items-center mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-blue-500 flex-shrink-0">
                <img src="/assets/images/logos/browsers/firefox.svg" class="sm:w-16 sm:h-16 w-10 h-10" alt="" role="presentation">
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Firefox</h2>
                <p class="leading-relaxed text-base">Firefox users can install Omnibug via the Firefox Add-ons site.</p>
                <a class="mt-3 text-blue-500 inline-flex items-center" href="https://addons.mozilla.org/en-US/firefox/addon/omnibug/?src=external-omnibug.io" rel="nofollow">Install for Firefox
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex items-center mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-blue-500 flex-shrink-0">
                <img src="/assets/images/logos/browsers/edge.svg" class="sm:w-16 sm:h-16 w-10 h-10" alt="" role="presentation">
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Edge (v79+)</h2>
                <p class="leading-relaxed text-base">The latest versions of Edge (Chromium-based) are supported, and can be installed from either the Microsoft Add-ons Store or the Google Web Store.</p>
                <a class="mt-3 text-blue-500 inline-flex items-center" href="https://microsoftedge.microsoft.com/addons/detail/omnibug/eideoafecdnkjfiomaaplogicinmmlee" rel="nofollow">Install for Edge
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex items-center mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-blue-500 flex-shrink-0">
                <img src="/assets/images/logos/browsers/opera.svg" class="sm:w-16 sm:h-16 w-10 h-10" alt="" role="presentation">
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Opera</h2>
                <p class="leading-relaxed text-base">Opera users can install Omnibug like any Chromium browser, via the Google Web Store.</p>
                <a class="mt-3 text-blue-500 inline-flex items-center" href="https://chrome.google.com/webstore/detail/omnibug/bknpehncffejahipecakbfkomebjmokl?hl=en" rel="nofollow">Install for Opera
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex items-center mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-blue-500 flex-shrink-0">
                <img src="/assets/images/logos/browsers/brave.svg" class="sm:w-16 sm:h-16 w-10 h-10" alt="" role="presentation">
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Brave</h2>
                <p class="leading-relaxed text-base">Brave users can install Omnibug like any Chromium browser, via the Google Web Store.</p>
                <a class="mt-3 text-blue-500 inline-flex items-center" href="https://chrome.google.com/webstore/detail/omnibug/bknpehncffejahipecakbfkomebjmokl?hl=en" rel="nofollow">Install for Brave
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex items-center mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-blue-500 flex-shrink-0">
                <img src="/assets/images/logos/browsers/vivaldi.svg" class="sm:w-16 sm:h-16 w-10 h-10" alt="" role="presentation">
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Vivaldi</h2>
                <p class="leading-relaxed text-base">Brave users can install Omnibug like any Chromium browser, via the Google Web Store.</p>
                <a class="mt-3 text-blue-500 inline-flex items-center" href="https://chrome.google.com/webstore/detail/omnibug/bknpehncffejahipecakbfkomebjmokl?hl=en" rel="nofollow">Install for Vivaldi
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex items-center mx-auto sm:flex-row flex-col">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-blue-500 flex-shrink-0">
                <img src="/assets/images/logos/browsers/safari.svg" class="sm:w-16 sm:h-16 w-10 h-10" alt="" role="presentation">
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Safari</h2>
                <p class="leading-relaxed text-base">
                    Unfortunately, installing Omnibug in Safari is currently not possible. This is due to missing APIs in Safari that Omnibug depends on.
                    We're exploring alternatives, but in the meantime it is recommended to use one of the other browsers listed above.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mx-auto py-5 pb-20 px-6 md:px-4">
        <div class="text-center px-4 py-5 text-gray-900">
            <h2 class="sm:text-3xl text-2xl font-medium title-font mb-2 mx-auto">Don't see your favorite browser?</h2>
            <p class="leading-relaxed text-base">Let us know what browser you'd like to see Omnibug installed on!</p>
            <p class="leading-relaxed text-base my-4">
                <a class="mx-auto text-white btn btn-blue" href="https://github.com/MisterPhilip/omnibug/issues/new/choose" rel="nofollow">Send Feedback</a>
            </p>
        </div>
    </div>
</section>
